@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body {
    color: #212121;
}

.btn {
    margin: 2px;
}
/************ Header ************/
.pts-header {
    position: relative;
    height: 60px;
    background-color: #00BCD4;

}

.pts-nav-buttons {
    position: relative;
    left: 5px;
    bottom: 2px;
    margin-right: 5px;
}

.pts-header-right-container {
    position: absolute;
    right: 8px;
    top: 11px;
}

.pts-header-right-container .pts-active {
    background-color: #0097A7;
    color: #fff;
}

.pts-header-left-container {
    height: 100%;
    padding-top: 13px;
    margin-left: 5px;
    display: inline-flex;
}

#header-datetimepicker {
    max-width: 220px;
}

.pts-btn-day-view, .pts-btn-month-view,
.pts-btn-list-view, .pts-btn-next, .pts-btn-previous {
    background-color: #B2EBF2;
}

.pts-header-date-display {
    margin-left: 8px;
    font-size: 18px;
    margin-top: 6px;
}

#header-datetimepicker input {
    border: 0 !important;
}

#header-datetimepicker span.input-group-addon {
    border: 0 !important;
    background-color: #B2EBF2;
}

.dropdown > button.dropdown-toggle {
    top: 3px;
    position: relative;
    left: 5px;
}

.dropdown-menu li {
    margin-left: 5px;
}

/************ line & column title ************/

.pts-column-title-container {
    background-color: #B2EBF2;
    height: 45px;
    overflow: hidden;
    position: relative;
}

.pts-column-title-container > div {
    height: auto;
    overflow-y: hidden;
    margin-bottom: -100px;
    padding-bottom: 100px;
    overflow-x: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 150px;
    display: inline-flex;
    padding-right: 16px;
}

.pts-column-element[data-date]:hover {
    background-color: #90e3ed;
}
.pts-column-element[data-date] {
    cursor: pointer;
}
.pts-column-element {
    position: relative;
    width: 120px;
    border-right: 1px solid #BDBDBD;
    text-align: center;
}

.pts-column-element > p {
    padding-top: 10px;
}

.pts-line-title-container {
    background-color: #B2EBF2;
    height: 400px;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pts-line-title-container > div {
    overflow-y: auto;
    max-height: 100%;
    margin-right: -100px;
    padding-right: 100px;
}

.pts-line-group-container {
    height: auto;
    width: 113%;
    position: relative;
}

.pts-group-header {
    position: relative;
    background-color: #0097A7;
    height: 20px;
}

.pts-group-user {
    /*height: 40px;*/
    text-align: center;
    padding-top: 12px;
    border-bottom: 1px solid #0097A7;
    width: 150px;
}

.pts-group-header > span {
    position: relative;
    left: 15px;
    color: #fff;
}

.pts-corder-mask {
    background-color: hsl(187, 71%, 82%);
    height: 45px;
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.closed-btn {
    transform: rotate(45deg);
}

.close-group-panel {
    position: relative;
    left: 7px;
    top: 4px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    font-size: 12px;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}



/************ Main content ************/

.pts-main-container {
    position: relative;
}

.pts-scheduler-container {
    position: absolute;
    height: auto;
    width: auto;
    right: 0px;
    top: 0px;
    left: 150px;
    overflow: scroll;
    top: 45px;
    bottom: 0px;

}

.pts-main-content {
    position: relative;
    height: 100%;
    width: auto;
}

.pts-main-group-header {
    position: relative;
    background-color: #0097A7;
    height: 20px;
    /*width: 2880px;*/
}

.pts-main-group-container {
    width: 100%;
}

.pts-main-group-user {
    position: relative;
    /*height: 40px;*/
    border-bottom: 1px solid #0097A7;
}

.pts-main-group-column {
    position: absolute;
    border-right: 1px solid #BDBDBD;
    height: 100%;
    width: 120px;
}

.pts-main-group-column > div {
    border-left: 1px solid #eee;
    height: 100%;
    margin-left: 60px;
    width: 100%;
}

.pts-main-group-column.last > div {
    border-right: 1px solid #eee;
}

.pts-main-group-border {
    position: relative;
    width: 2880px;
    border-bottom: 1px solid #000;

}


/************ Markers ************/

.pts-line-marker {
    position: absolute;
    height: 30px;
    width: 120px;
    background-color: hsl(187, 100%, 42%);
    top: 5px;
    cursor: pointer;
}

.pts-line-marker.complete {
    border-radius: 20px;
    margin-left: 5px;
}

.pts-line-marker.start {
    border-radius: 20px 0 0 20px;
    margin-left: 5px;
}


.pts-line-marker.end {
    border-radius: 0 20px 20px 0;
    margin-right: 5px;
}

.pts-line-marker.middle {
    width: 100%;
}

.pts-line-marker-label {
    z-index: 300;
    position: absolute;
    color: #fff;
}

.pts-line-marker-group {
    position: absolute;
    width: 100%;
}

/************ Infos view ************/

#pts-info-box-container {
    background-color: #fff;
    width: 0%;
    right: 17px;
    position: absolute;
    height: auto;
    z-index: 1000;
    bottom: 16px;
    top: 45px;
    -webkit-box-shadow: -12px 0px 15px -5px rgba(0,0,0,0.22);
    -moz-box-shadow: -12px 0px 15px -5px rgba(0,0,0,0.22);
    box-shadow: -12px 0px 15px -5px rgba(0,0,0,0.22);
}

.pts-info-box-close-btn {
    position: relative;
    top: 3px;
    color: #b2b2b2;
    background-color: transparent;
}

.divider {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #dbdbdb;
}

.pts-info-box-user {
    position: relative;
    left: 14px;
}

.pts-info-box-user-list {
    position: relative;
    right: 30px;
}