@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body {
    color: #212121;
}

.btn {
    margin: 2px;
}

.pts-header {
    position: relative;
    height: 60px;
    background-color: #00BCD4;

}

.pts-header-right-container {
    height: 100%;
    padding-top: 11px;
    margin-right: 5px;
}

.pts-header-left-container {
    height: 100%;
    padding-top: 13px;
    margin-left: 5px;
    display: inline-flex;
}

#header-datetimepicker {
    max-width: 220px;
}


.pts-header-right-container .btn {
    background-color: #B2EBF2;
}

.pts-header-date-display {
    margin-left: 8px;
    font-size: 18px;
    margin-top: 6px;
}