<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="chuck-durst">

    <title>pit-scheduler</title>

    <link  rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link  rel="stylesheet" type="text/css" href="../css/demo.css">

</head>

<body data-spy="scroll" data-target=".bs-sidebar" data-offset="50">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">pit-scheduler</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../index.html">Pit-scheduler</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="installing.html">Installing</a></li>
                <li><a href="options.html">Options</a></li>
                <li><a href="functions.html">Functions</a></li>
                <li><a href="events.html">Events</a></li>
                <li class="active"><a href="changelog.html">Changelog</a></li>
                <li><a href="faq.html">FAQs</a></li>
            </ul>
            <div class="nav navbar-nav navbar-right">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="https://github.com/chuck-durst/pit-scheduler">
                            <img width="20" src="http://www.uidownload.com/files/236/359/742/code-coding-development-github-program-programming-icon.png" alt="github"> Github
                        </a>
                    </li>
                </ul>
            </div>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="main-container container-fluid row">
    <div class="sidebar-container col-sm-3 hidden-xs">
        <div class="bs-sidebar hidden-print affix well" role="complementary">
            <ul class="nav bs-sidenav">
                <li class="active"><a href="#2">Version 2</a></li>
                <li class="sub"><a href="#2-0-0">2.0.0</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-8 col-xs-12">
        <h1>Changelog</h1>
        <section id="2">
            <h2>Version 2</h2>
            <section id="2-0-0">
                <h2>2.0.0</h2>
                <h4>Features</h4>
                <ul>
                    <li>[feature] You can now add, edit, assign and delete <code>tasks</code> and <code>users</code>!</li>
                    <li>[feature] All the <code>tasks</code> are now resizable so you can change their duration right from the main window</li>
                    <li>[feature] You like to be organized? You are now able to add several <code>filters</code> to find your way more easily</li>
                    <li>[feature] <code>Preloader</code> added for long loads</li>
                    <li>[feature] Callback functions added to let you use Ajax or do what ever you want on any state change</li>
                    <li>[feature] <code>Notifications</code> system added to let you know what appends</li>
                    <li>[feature] Undo most actions from a button added to the notifications</li>
                    <li>[feature] You can now access to a complete list of all the <code>users</code> and <code>tasks</code></li>
                    <li>[feature] Some default functions has been added to give you more opportunities of interactions with the <code>Sheduler</code></li>
                    <li>[feature] You can henceforth tag the <code>tasks</code> to set them status or optional information</li>
                    <li>[feature] You can now edit and remove <code>users</code> assignations right from the toolbox</li>
                    <li>[feature] Since we are living in the 21st century, the project can now be downloaded from npm!</li>
                </ul>
                <h4>Bugfixes</h4>
                <ul>
                    <li>[bugfix] Best support on Firefox and latest IE</li>
                    <li>[bugfix] I've find a way to prevent scrolling on the <code>users</code> left list</li>
                    <li>[bugfix] Some errors with the 'hide empty lines' options has been resolved</li>
                    <li>[bugfix] The <code>toolbox</code> animation has been improved and smoothed</li>
                    <li>[bugfix] There was some errors with the undefined <code>groups</code>, its now belong to the past!</li>
                    <li>[bugfix] You can now build an empty <code>scheduler</code> with no errors</li>
                    <li>[bugfix] Some minor graphical bugs has been corrected</li>
                    <li>[bugfix] Fix <code>task</code> position error when it was ending at 00:00</li>
                    <li>[bugfix] More errors are now spotted and use the <code>notification</code> system to warn you</li>
                </ul>
                <h4>Other</h4>
                <ul>
                    <li>[other] The whole performances have been improved</li>
                    <li>[other] Minified files has been added</li>
                    <li>[other] The language files has been separated</li>
                    <li>[other] Debug mode support added</li>
                    <li>[other] New code documentation</li>
                    <li>[other] a dedicated demo website has been build to let you get all the necessary information about the scheduler's work</li>
                </ul>
            </section>
        </section>

        <div class="blank-footer"></div>
    </div>
</div>
<script src="../js/jquery-2.2.4.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>