<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="chuck-durst">

    <title>pit-scheduler</title>

    <link  rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link  rel="stylesheet" type="text/css" href="../css/demo.css">

</head>

<body data-spy="scroll" data-target=".bs-sidebar" data-offset="50">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">pit-scheduler</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../index.html">Pit-scheduler</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="installing.html">Installing</a></li>
                <li><a href="options.html">Options</a></li>
                <li><a href="functions.html">Functions</a></li>
                <li><a href="events.html">Events</a></li>
                <li><a href="changelog.html">Changelog</a></li>
                <li class="active"><a href="faq.html">FAQs</a></li>
            </ul>
            <div class="nav navbar-nav navbar-right">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="https://github.com/chuck-durst/pit-scheduler">
                            <img width="20" src="http://www.uidownload.com/files/236/359/742/code-coding-development-github-program-programming-icon.png" alt="github"> Github
                        </a>
                    </li>
                </ul>
            </div>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="main-container container-fluid row">
    <div class="sidebar-container col-sm-3 hidden-xs">

    </div>
    <div class="col-sm-8 col-xs-12">
        <h1>FAQs</h1>

        <br><p>There is no frequently asked questions at this time.</p>
        <div class="blank-footer"></div>
    </div>
</div>
<script src="../js/jquery-2.2.4.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>